In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key
%matplotlib inline

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Zhigansk,66.7697,123.3711,-7.53,100,95,9.69,RU,2021-11-11 01:54:12
1,1,Mount Gambier,-37.8333,140.7667,60.71,63,90,17.27,AU,2021-11-11 01:54:12
2,2,Rikitea,-23.1203,-134.9692,73.47,84,85,15.30,PF,2021-11-11 01:54:12
3,3,Castro,-24.7911,-50.0119,56.10,97,100,9.13,BR,2021-11-11 01:54:13
4,4,Busselton,-33.6500,115.3333,66.04,42,4,5.93,AU,2021-11-11 01:54:13

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Remove negative temperatures with for loop. Get the max temp.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature.

# 1. Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# 2. Get the maximum temperature
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable.
fig = gmaps.figure()
# 4. Assign the heatmap variable to the heatmap_layer attribute and add in locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Modify gmaps.heat_layer()
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=temps, 
                                 dissipating=False,
                                 max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Percent Humidity Heatmap ###

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Percent Cloudiness Heatmap ###

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

### Wind Speed Heatmap ###

In [10]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
7,7,Atuona,-9.8000,-139.0333,78.03,74,8,15.03,PF,2021-11-11 01:54:15
9,9,Carnarvon,-24.8667,113.6333,78.87,25,0,17.27,AU,2021-11-11 01:54:16
13,13,Georgetown,5.4112,100.3354,82.33,85,20,3.00,MY,2021-11-11 01:54:19
14,14,Butaritari,3.0707,172.7902,83.03,68,10,15.19,KI,2021-11-11 01:54:19
25,25,Bourail,-21.5667,165.4833,86.59,51,32,6.29,NC,2021-11-11 01:54:25
26,26,Sao Filipe,14.8961,-24.4956,76.17,76,20,7.70,CV,2021-11-11 01:54:25
32,32,Hobyo,5.3505,48.5268,79.99,73,100,10.27,SO,2021-11-11 01:54:29
33,33,Dingle,10.9995,122.6711,84.00,76,98,12.46,PH,2021-11-11 01:54:29
34,34,Bilma,18.6853,12.9164,75.61,15,0,5.01,NE,2021-11-11 01:54:29
36,36,Mataura,-46.1927,168.8643,75.42,41,100,4.43,NZ,2021-11-11 01:54:30

In [17]:
#determinate if there is ant null values
preferred_cities_df.count()

City_ID       117
City          117
Lat           117
Lng           117
Max Temp      117
Humidity      117
Cloudiness    117
Wind Speed    117
Country       117
Date          117
dtype: int64

### Map Vacation Criteria ###

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
7       Atuona      PF     78.03  -9.8000 -139.0333
9    Carnarvon      AU     78.87 -24.8667  113.6333
13  Georgetown      MY     82.33   5.4112  100.3354
14  Butaritari      KI     83.03   3.0707  172.7902
25     Bourail      NC     86.59 -21.5667  165.4833
26  Sao Filipe      CV     76.17  14.8961  -24.4956
32       Hobyo      SO     79.99   5.3505   48.5268
33      Dingle      PH     84.00  10.9995  122.6711
34       Bilma      NE     75.61  18.6853   12.9164
36     Mataura      NZ     75.42 -46.1927  168.8643

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key" : g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Atuona,PF,78.03,-9.8000,-139.0333,Villa Enata
9,Carnarvon,AU,78.87,-24.8667,113.6333,Hospitality Carnarvon
13,Georgetown,MY,82.33,5.4112,100.3354,Cititel Penang
14,Butaritari,KI,83.03,3.0707,172.7902,Isles Sunset Lodge
25,Bourail,NC,86.59,-21.5667,165.4833,Motel Allamanda
26,Sao Filipe,CV,76.17,14.8961,-24.4956,Hotel Xaguate
32,Hobyo,SO,79.99,5.3505,48.5268,Halane Hotel and Restaurent
33,Dingle,PH,84.00,10.9995,122.6711,SEGAYA PROPERTY
34,Bilma,NE,75.61,18.6853,12.9164,Expeditions Ténére voyages
36,Mataura,NZ,75.42,-46.1927,168.8643,Ellie's Villa

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [30]:
#  Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))